# 데이터 타입의 종류

* [1. 숫자형 타입](#chapter1)
* [2. 문자형 타입](#chapter2)
* [3. Boolean 타입](#chapter3)
* [4. list 타입](#chapter4)
* [5. tuple 타입](#chapter5)
* [6. dict 타입](#chapter6)

## 1. 숫자형 타입 <a class="anchor" id="chapter1"></a>

In [1]:
# 정수형
a = 1
#실수형
b = 1.2345
#복소수형
c = 3+4j

In [17]:
# type():변수의 타입 확인
type(b)

float

## 2. 문자형 타입 <a class="anchor" id="chapter2"></a>

In [9]:
sa = 'Hello Bigdata'
se = 'and Cheer up!'

In [13]:
print(sa + " " + se)

Hello Bigdata and Cheer up!

In [14]:
# len():문자열 길이 확인
len(sa)

13

In [16]:
len(sa*2)

26

#### 2.1 문자열 인덱싱
+ 0부터 숫자를 셈
+ 인덱싱 방법 : 변수이름[번호]

In [19]:
a = 'this is a string'
a

'this is a string'

In [20]:
print(a[2])

i

In [21]:
print(a[-5])

t

#### 2.2 문자열 슬라이싱
+ 자료 구조 내에서 여러 개의 항목에 접근  
+ slicing 방법 : 변수이름[시작번호:끝번호]
    + slicing은 끝번호 값은 제외하고 출력

In [22]:
b = '20220628Wed'

In [23]:
print(b[0:4])

2022

In [26]:
# 8번째 부터 끝까지
print(b[8:])

Wed

In [27]:
# 전체
print(b[:])

20220628Wed

In [28]:
# -6번째 까지
print(b[:-5])

202206

#### 2.3 문자열 수정
+ replace() : 해당 문자 변경 가능

In [31]:
a = 'this is a string'
b = 'rope'

In [32]:
a[:10] + b

'this is a rope'

In [33]:
c = a.replace('string','rope')
c

'this is a rope'

#### 2.4 문자열 format
+ %d : 숫자(정수)
+ %s : 문자("" 필수)
+ %f : 소수 자리수 출력
    + %.숫자f: 표시할 소수점 아래 자릿수
+ 여러 개의 문자열을 입력할 때 %(3,"all")와 같이 ,로 구분하여 추가
+ %10s : %와 s 사이에 숫자만큼 자릿수 공간에 오른쪽으로 정렬, 숫자앞에 -를 붙이면 왼쪽 정렬

In [35]:
"I have %s %s" %("three","children")

'I have three children'

In [36]:
"%10s"%"Good"

'      Good'

#### 문자열 함수
- 문자열.count(‘문자’) : 문자에 대한 개수를 샘
- 문자열.find(‘문자’) : 찾고자 하는 문자의 위치 파악
  - 같은 문자가 있을 땐 가장 앞에 있는 문자 위치
  - 대소문자 구분
  - -1이 결과값으로 나올 땐 해당 문자가 없음
- 문자열.index(‘문자’): 찾고자 하는 문자의 위치
  - 문자가 없을 땐 에러가 발생
- “,”.join(‘문자’): 문자 각각 사이를 ,로 구분지음
- 문자열.upper(): 소문자를 모두 대문자로 표현
- 문자열.lower(): 대문자를 모두 소문자로 표현
- 문자열.strip(): 앞뒤에 양쪽의 공백을 모두 없애기
- 문자열.lstrip(): 왼쪽의 공백만 없애기
- 문자열.rstrip(): 오른쪽의 공백만 없애기
- 문자열.replace(“old문자”,“new문자”): old문자를 new문자로 변경
- 문자열.split(): 문자열을 나누어 주는 함수.
  - space, tab, enter등을 기준으로 문자열을 나누어줌
  - 특정 값을 입력하면 해당 값 기준으로 나누어줌

In [39]:
a = "Korean culture"

In [43]:
b = " ".join(a)
b

'K o r e a n   c u l t u r e'

In [44]:
b.split()

['K', 'o', 'r', 'e', 'a', 'n', 'c', 'u', 'l', 't', 'u', 'r', 'e']

In [45]:
b.split(" ")

['K', 'o', 'r', 'e', 'a', 'n', '', '', 'c', 'u', 'l', 't', 'u', 'r', 'e']

## 3. Boolean 타입 <a class="anchor" id="chapter3"></a>
- bool() : 참/거짓을 식별
    - 문자열, list, tuple, dict가 비어져있으면 False가 되고 그렇지 않으면 True
    - 숫자일 때 0이면 False이고 그렇지 않으면 True

In [48]:
bool([1,2,3])

True

In [49]:
bool("")

False

In [50]:
bool(0)

False

## 4. list 타입 <a class="anchor" id="chapter4"></a>
- 리스트는 대괄호[] 안에 각 요소(숫자, 문자, 숫자+문자, 리스트 안에 리스트 등) 값들은 쉼표(,)로 구분

#### 4.1 리스트 인덱싱

In [8]:
a = [1,2,3,4,5]
b = ['a','b']

In [9]:
a.append(b)
a

[1, 2, 3, 4, 5, ['a', 'b']]

In [10]:
a[5][1]

'b'

#### 4.2 리스트 슬라이싱

In [11]:
a

[1, 2, 3, 4, 5, ['a', 'b']]

In [12]:
a[::2]

[1, 3, 5]

#### 4.3 리스트 연산
- 리스트 + 문자열 X
- 문자열 수정 불가

#### 4.4 리스트 기초 연산 함수

In [22]:
# sum:합, max:최대값, min:최소값, del:삭제, str:문자형으로 변경

In [16]:
# append: 리스트 추가
b=['6','7','8','9']
b.append(['11','12'])
b

['6', '7', '8', '9', ['11', '12']]

In [17]:
# sort: 올림차순으로 정렬(숫자, 문자 정렬가능)
c=['7','9','8','6']
c.sort()
c

['6', '7', '8', '9']

In [18]:
# reverse: 현재 리스트의 순서를 반대로 출력
c.reverse()
c

['9', '8', '7', '6']

In [21]:
# index: 해당 값의 위치를 출력, 없는 값 입력하면 에러발생
c.index('5')

ValueError: '5' is not in list

In [19]:
# insert: 특정 위치에 값을 추가
c.insert(0,'10')
c

['10', '9', '8', '7', '6']

In [25]:
# remove:　특정 값을 삭제(list안에 동일한 값이 여러개 있을 때 맨 앞의 값만 삭제)
c.remove('6')
c

ValueError: list.remove(x): x not in list

In [31]:
# pop: 빈칸 입력시 리스트의 마지막 값을 보여주고 삭제시킴. 입력시 삭제 요소의 위치 지정
c.pop()

'9'

In [32]:
c

['10']

In [33]:
# count:　동일한 값 개수 세기
c = [3,3,3,3,3,3,3,4,5,5]
c.count(5)

2

In [34]:
# extend:　리스트의 요소 추가 (괄호 안에 리스트만 올 수 있음, append와의 차이 구분)
c.extend([4,5])
c

[3, 3, 3, 3, 3, 3, 3, 4, 5, 5, 4, 5]

## 5. tuple 타입 <a class="anchor" id="chapter5"></a>
- 차이점은 리스트는 대괄호 []를 사용하고 튜플은 소괄호( )를 사용 (괄호생략가능)하며, 리스트는 수정이 가능하지만 튜플은 수정이 불가능함
- 튜플에서는 괄호안에 한 개의 요소를 가질 때는 (1,)와 같이 마지막에 콤마 필요
- 콤마(,)를 붙이지 않으면 튜플이 아닌 정수 타입이 생성
- 프로그램을 실행되는 동안 그 값이 항상 변화지 않아야 한다면, 튜플을 사용하고 값이 자주 바뀐다면 리스트를 사용

In [37]:
e = 1,2,('ab','cd'),3,4
e

(1, 2, ('ab', 'cd'), 3, 4)

In [38]:
type(e)

tuple

+ 튜플은 수정 및 변경 불가

In [39]:
del e[0]

TypeError: 'tuple' object doesn't support item deletion

<a class="anchor" id="chapter6"></a>
## 6. dict 타입
- key와 value를 한 쌍으로 가지고 있는 자료형
- {key1:value1,key2:value2,key3:value3...}
- 위치자리에 key값을 입력하면 value 출력

In [44]:
a = {'gender':'male','age':24,'name':'minmin'}

In [45]:
type(a)

dict

In [46]:
a['gender']

'male'

+ 사전에서 추가 및 삭제하기

In [47]:
del a['name']
a

In [49]:
a['name'] = 'minmin'
a

+ 사전 함수

In [51]:
a.keys()

dict_keys(['gender', 'age', 'name'])

In [52]:
list(a.keys())

['gender', 'age', 'name']

In [53]:
a.values()

dict_values(['male', 24, 'minmin'])

In [54]:
a.items()

dict_items([('gender', 'male'), ('age', 24), ('name', 'minmin')])

In [55]:
a.get('gender')

'male'

In [56]:
a.get('height','?')

'?'

In [58]:
'gender' in a

True