# 연산 및 흐름제어

* [1. 연산](#chapter1)
* [2. 조건문](#chapter2)
* [3. 반복문](#chapter3)

<a class="anchor" id="chapter1"></a>
## 1. 연산

+ 수치 연산
#### + 더하기, - 빼기, * 곱하기, ** 제곱, / 나누기, // 몫, % 나머지

+ 대입 연산  
x += y 는 x = x + y

+ 비교 연산  
=, ==, !=, >, <, <=, >=

+ 논리연산자  
and, or, not

+ 구성원 연산자  
in, not in

+ 연산자 활용

In [18]:
a = [
    {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0},
    {'num':'2','name':'박민주','kor':90,'eng':85,'math':90,'total':0,'avg':0.0},
    {'num':'3','name':'박영호','kor':80,'eng':80,'math':80,'total':0,'avg':0.0},
]

In [19]:
# 첫번째 딕셔너리 출력
a[0]

{'num': '1',
 'name': '김철수',
 'kor': 90,
 'eng': 80,
 'math': 85,
 'total': 0,
 'avg': 0.0}

In [20]:
# 첫번째 딕셔너리에 total의 key값 출력
a[0]['total']

0

In [21]:
# 첫번째 딕셔너리에 total의 key값에 1을 입력
a[0]['total'] = 1
a[0]

{'num': '1',
 'name': '김철수',
 'kor': 90,
 'eng': 80,
 'math': 85,
 'total': 1,
 'avg': 0.0}

In [26]:
#학생별 합계구하기
a[0]['total'] = a[0]['kor']+a[0]['eng']+a[0]['math']
a[1]['total'] = a[1]['kor']+a[1]['eng']+a[1]['math']
a[2]['total'] = a[2]['kor']+a[2]['eng']+a[2]['math']
a

[{'num': '1',
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 255,
  'avg': 0.0},
 {'num': '2',
  'name': '박민주',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 265,
  'avg': 0.0},
 {'num': '3',
  'name': '박영호',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 240,
  'avg': 0.0}]

In [27]:
#학생별 평균구하기
a[0]['avg'] = a[0]['total']/3
a[1]['avg'] = a[1]['total']/3
a[2]['avg'] = a[2]['total']/3
a

[{'num': '1',
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 255,
  'avg': 85.0},
 {'num': '2',
  'name': '박민주',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 265,
  'avg': 88.33333333333333},
 {'num': '3',
  'name': '박영호',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 240,
  'avg': 80.0}]

In [28]:
#학급 평균구하기
a[0]['avg']+a[1]['avg']+a[2]['avg']

253.33333333333331

<a class="anchor" id="chapter2"></a>
## 2. 조건문

#### if문
만약 조건이 성립한다(TRUE)면 ...을 실행한다

#### if-else문
조건이 하나일때 : if-else문의 구조

+ input함수: 사용자가 어떤 값을 입력하게 하고, 그 값을 변수에 저장할 수 있음
+ float함수: 실수형으로 변환
+ int함수: 정수형으로 변환
+ str함수: 텍스트 형태로 변환

In [32]:
grade = float(input('총 학점 평균을 입력해 주세요:'))

총 학점 평균을 입력해 주세요:4

In [33]:
if grade >= 4.3:
    print('당신은 장학금 수여 대상자입니다')
    print('축하합니다')
else:
    print('안타깝습니다. 더 노력하세요.')

안타깝습니다. 더 노력하세요.

#### if-elif-else문
조건이 여러개 일때 : if-elif-else문의 구조

#### 중첩된 if 문
if문 안에 또 if문이 들어갈 수 있음

In [36]:
age = int(input('나이를 입력하세요:'))

나이를 입력하세요:24

In [37]:
height = float(input('키를 입력하세요:'))

키를 입력하세요:168

In [38]:
if age >= 40: #나이가 40이상
    if height >= 170:
        print('키가 보통 이상입니다')
    else:
        print('키가 보통입니다')
else: #나이가 40미만
    if height >= 175:
        print('키가 보통 이상입니다')
    else:
        print('키가 보통입니다')

키가 보통입니다

<a class="anchor" id="chapter3"></a>
## 반복문

#### for문
for 반복변수 in 리스트(튜플, 문자열) 실행 문장

In [39]:
d = {'circle':2,'rectangle':3,'line':1}

In [40]:
# 집합
e = {'red','green','blue','red'}

In [41]:
# 딕셔너리는 key만 반환
for x in d:
    print(x)

circle
rectangle
line

In [42]:
# 집합자료형은 순서가 없으며 중복을 허용하지 않음. 순차적으로 입력되지 않음.
for x in e:
    print(x)

green
red
blue

+ range  
range(시작숫자(이상), 종료숫자(미만), 간격)의 형태

### 이중 for문

In [43]:
result = [ ] #괄호안에 띄워야함

In [44]:
for i in list(range(1,6)):
    for j in list(range(1,11)):
        k = i*j
        result_temp = [i,j,k]
        result.append(result_temp)

In [45]:
print(result)

[[1, 1, 1], [1, 2, 2], [1, 3, 3], [1, 4, 4], [1, 5, 5], [1, 6, 6], [1, 7, 7], [1, 8, 8], [1, 9, 9], [1, 10, 10], [2, 1, 2], [2, 2, 4], [2, 3, 6], [2, 4, 8], [2, 5, 10], [2, 6, 12], [2, 7, 14], [2, 8, 16], [2, 9, 18], [2, 10, 20], [3, 1, 3], [3, 2, 6], [3, 3, 9], [3, 4, 12], [3, 5, 15], [3, 6, 18], [3, 7, 21], [3, 8, 24], [3, 9, 27], [3, 10, 30], [4, 1, 4], [4, 2, 8], [4, 3, 12], [4, 4, 16], [4, 5, 20], [4, 6, 24], [4, 7, 28], [4, 8, 32], [4, 9, 36], [4, 10, 40], [5, 1, 5], [5, 2, 10], [5, 3, 15], [5, 4, 20], [5, 5, 25], [5, 6, 30], [5, 7, 35], [5, 8, 40], [5, 9, 45], [5, 10, 50]]

In [51]:
for a in range(2,10):
    for b in range(1,10):
        print(a*b, end=" ") #아래 for문이 끝날 때 까지 이어서 결과 출력
    print('') #줄바꿈의 역할

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

### for문 안에 조건문(if-else)
데이터 분석시에 반복문(for)과 조건문(if)이 함께 활용되는 경우가 많음

In [53]:
Score=[100,7,75,32]
num = 0

In [54]:
for a in Score:
    num = num + 1
    if a >= 70:
        print('%d번 합격'%num)
    else:
        print('%d번 불합격'%num)

1번 합격
2번 불합격
3번 합격
4번 불합격

### While문
+ 조건문이 TRUE인 동안 while문이 실행
    + 주의) 조건문이 계속 참이면 무한 반복됨

#### break
반복문(while, for)을 끝내기 위한 목적으로 사용  
특정 조건을 만족하면 반복문 강제 종료

In [ ]:
result = [ ]

In [ ]:
for i in range(1,6):
    for j in range(1,11):
        k = i*j
        result_temp = [i,j,k]
        if k>10:
            break
        result.append(result_temp)

In [ ]:
print(result)

#### continue
반복문 실행시 continue()함수 아래에 있는 해당 step을 실행하지 않고 건너뜀

In [ ]:
Score=[100,7,75,32]
num = 0

In [ ]:
for a in Score:
    num = num + 1
    if a < 70:
        continue
    else:
        print('%d번 합격'%num)